<h1 class="text-center my-5">Login de usuarios</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/login" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" /> 
            <input
                class="form-control mb-2"
                name="email"
                placeholder="Ingrese email"
                type="email"
                value="bluuweb@prueba.com"
            />
            <input
                class="form-control mb-2"
                name="password"
                placeholder="Ingrese contraseña"
                type="password"
                value="123123"
            />

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</div>